* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(224, 199, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-cont {
  background-color: rgb(138, 130, 130);
  width: 87vw;
  margin: auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: auto;
}

.leaderboard-title {
  margin-bottom: 5%;
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(153, 16, 16);
}

.container {
  display: flex;
  gap: 10%;
  margin-left: 7%;
}

.main-sec {
  width: 48%;
}

.first-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.recent-score {
  color: lightsalmon;
}

.score-list {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  list-style-type: none;
}

.list {
  padding: 2%;
  color: white;
}

.list:nth-child(odd) {
  background-color: lightsalmon;
  color: black;
}

.list-par {
  font-size: 1.2rem;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.add-score {
  margin-bottom: 10%;
  color: rgb(153, 16, 16);
}

.input-name,
.input-score {
  display: block;
  padding: 2%;
  margin-bottom: 8%;
  border: 2px solid black;
}

.submit {
  align-self: flex-end;
}

.btn {
  background-color: white;
  color: black;
  padding: 2% 5%;
  box-shadow: 3px 4px black;
  border: 2px solid black;
  font-weight: bold;
}
